[submodule "lib/N64Recomp"]
	path = lib/N64Recomp
	url = https://github.com/SlaveOfIDO/N64Recomp.git
	branch = feat/force-entrypoint
[submodule "lib/blastcorps"]
	path = lib/blastcorps
	url = https://github.com/SlaveOfIDO/blastcorps.git
